<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".axd" allowed="true"/>
        </fileExtensions>
      </requestFiltering>
    </security>
    <handlers>
      <add name="AjaxFileUploadHandler" verb="POST" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="ignore web forms folder 3" stopProcessing="true">
          <match url="^AjaxFileUploadHandler.axd$"/>
          <action type="None"/>
        </rule>
        <rule name="ignore web forms folder 4" stopProcessing="true">
          <match url="\.(aspx|axd|js|xml)$"/>
          <action type="None"/>
        </rule>
        <rule name="Rule 1" stopProcessing="true">
          <match url="^(.*)public/$" ignoreCase="false"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true"/>
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="/public/{R:1}"/>
        </rule>
        <rule name="Rule 2" stopProcessing="true">
          <match url="^public/" ignoreCase="false"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/public/index.php"/>
        </rule>
        <rule name="Rule 3" stopProcessing="true">
          <match url="^(.*)/$" ignoreCase="false"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true"/>
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="/public/{R:3}"/>
        </rule>
        <rule name="Rule 4" stopProcessing="true">
          <match url="^/" ignoreCase="false"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/public/index.php"/>
        </rule>
      </rules>
    </rewrite>
    <httpErrors>
      <remove statusCode="400"/>
      <error statusCode="400" path="C:\Inetpub\vhosts\emiratesesports.net\error_docs\bad_request.html"/>
      <remove statusCode="401"/>
      <error statusCode="401" path="C:\Inetpub\vhosts\emiratesesports.net\error_docs\unauthorized.html"/>
      <remove statusCode="403"/>
      <error statusCode="403" path="C:\Inetpub\vhosts\emiratesesports.net\error_docs\forbidden.html"/>
      <remove statusCode="404"/>
      <error statusCode="404" path="C:\Inetpub\vhosts\emiratesesports.net\error_docs\not_found.html"/>
      <remove statusCode="405"/>
      <error statusCode="405" path="C:\Inetpub\vhosts\emiratesesports.net\error_docs\method_not_allowed.html"/>
      <remove statusCode="406"/>
      <error statusCode="406" path="C:\Inetpub\vhosts\emiratesesports.net\error_docs\not_acceptable.html"/>
      <remove statusCode="407"/>
      <error statusCode="407" path="C:\Inetpub\vhosts\emiratesesports.net\error_docs\proxy_authentication_required.html"/>
      <remove statusCode="412"/>
      <error statusCode="412" path="C:\Inetpub\vhosts\emiratesesports.net\error_docs\precondition_failed.html"/>
      <remove statusCode="414"/>
      <error statusCode="414" path="C:\Inetpub\vhosts\emiratesesports.net\error_docs\request-uri_too_long.html"/>
      <remove statusCode="415"/>
      <error statusCode="415" path="C:\Inetpub\vhosts\emiratesesports.net\error_docs\unsupported_media_type.html"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="C:\Inetpub\vhosts\emiratesesports.net\error_docs\internal_server_error.html"/>
      <remove statusCode="501"/>
      <error statusCode="501" path="C:\Inetpub\vhosts\emiratesesports.net\error_docs\not_implemented.html"/>
      <remove statusCode="502"/>
      <error statusCode="502" path="C:\Inetpub\vhosts\emiratesesports.net\error_docs\bad_gateway.html"/>
      <remove statusCode="503"/>
      <error statusCode="503" path="C:\Inetpub\vhosts\emiratesesports.net\error_docs\maintenance.html"/>
    </httpErrors>
    <tracing>
      <traceFailedRequests>
        <clear/>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
  <system.web>
    <httpRuntime maxRequestLength="20000" requestLengthDiskThreshold="8192" requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.0" batch="false" tempDirectory="C:\Inetpub\vhosts\emiratesesports.net\tmp">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <machineKey validationKey="6D6099CAE68362E48978C8C45A03BAD630F557241D2E893F9E9780E021B2038DE68EB7FEF246FA94A2182C3913034425E5DDC3745D4C3F6252EAEAAB50BF02D4" decryptionKey="97A0C7ACACA3E1AEFCDA2B0C216D6E1D5C62C36D0B0846DE76F85995BA2A2D2A" validation="SHA1" decryption="AES"/>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
        <add assembly="CKEditor.NET" namespace="CKEditor.NET" tagPrefix="CKEditor"/>
      </controls>
    </pages>
  </system.web>
  <system.web>
    <customErrors mode="Off" defaultRedirect="Err1.aspx"/>
  </system.web>
  <!--<system.web>
        -->
  <!-- ... -->
  <!--
        <pages>
            <controls>
                <add tagPrefix="asp"
                     namespace="AjaxControlToolkit"
                     assembly="AjaxControlToolkit" />
            </controls>
        </pages>
    </system.web>-->
  <!--<connectionStrings>
    <add name="POSDataConnection" connectionString="Data Source=Asus-PC\NERVA;Initial Catalog=PosDB;Integrated Security=true"
  providerName="System.Data.SqlClient" />
    <add name="POSThemeConnection" connectionString="Data Source=Asus-PC\NERVA;Initial Catalog=PosThem;Integrated Security=true"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
      <connectionStrings>
        <add name="POSDataConnection" connectionString="Data Source=NERVA1-PC\NERVA;Initial Catalog=admin;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="POSThemeConnection" connectionString="Data Source=NERVA1-PC\NERVA;Initial Catalog=Toheco_Them;Integrated Security=True" providerName="System.Data.SqlClient" />
      </connectionStrings>-->
  <connectionStrings>
    <add name="POSDataConnection" connectionString="Data Source=162.217.146.250\NERVA;Initial Catalog=Riada_New;Integrated Security=false;User ID=sa;Password=eAcb77$6" providerName="System.Data.SqlClient"/>
    <add name="POSThemeConnection" connectionString="Data Source=162.217.146.250\NERVA;Initial Catalog=Riada_New;Integrated Security=false;User ID=sa;Password=eAcb77$6" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="FacebookAppId" value="2304328889597015"/>
    <add key="FacebookAppSecret" value="6ca8e319864ccf8e393ef72330c683ed"/>
  </appSettings>
</configuration>
