$white: rgba(255, 255, 255, .9);
$red: #a91b1a;
$black: #000;
$green: #08ac9c;
$dark-blue: #001c4c;
$mid-blue: #37517e;
$dark-gold: #b39852;
$light-grey: #f3efec;
$dark-grey: #6f6f63;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 575px;
